@font-face {
  font-family: "LINE Seed JP";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
    url("../assets/fonts/LINESeedJP_20241105/Web/WOFF2/LINESeedJP_OTF_Th.woff2") format("woff2"),
    url("../assets/fonts/LINESeedJP_20241105/Web/WOFF/LINESeedJP_OTF_Th.woff") format("woff");
}

@font-face {
  font-family: "LINE Seed JP";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../assets/fonts/LINESeedJP_20241105/Web/WOFF2/LINESeedJP_OTF_Rg.woff2") format("woff2"),
    url("../assets/fonts/LINESeedJP_20241105/Web/WOFF/LINESeedJP_OTF_Rg.woff") format("woff");
}

@font-face {
  font-family: "LINE Seed JP";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../assets/fonts/LINESeedJP_20241105/Web/WOFF2/LINESeedJP_OTF_Bd.woff2") format("woff2"),
    url("../assets/fonts/LINESeedJP_20241105/Web/WOFF/LINESeedJP_OTF_Bd.woff") format("woff");
}

@font-face {
  font-family: "LINE Seed JP";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url("../assets/fonts/LINESeedJP_20241105/Web/WOFF2/LINESeedJP_OTF_Eb.woff2") format("woff2"),
    url("../assets/fonts/LINESeedJP_20241105/Web/WOFF/LINESeedJP_OTF_Eb.woff") format("woff");
}
